@import "tailwindcss";
@import "tw-animate-css";

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-main: var(--text-main);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--text-secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-btn-bg: var(--button-bg);
  --color-btn-text: var(--button-text);
  --color-btn-bg-hover: var(--button-bg-hover);
  --color-btn-text-hover: var(--button-text-hover);
}

body {
  color: var(--text-main);
  font-family: Inter, Helvetica, sans-serif;
}

.dark {
  --background: oklch(16.659% 0.0039 229.264);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.68 0.14 183);
  --primary-light: oklch(0.77 0.12 183);
  --text-main: oklch(0.92 0.02 260);
  --text-secondary: oklch(0.68 0.03 260);
  --radius: 0.625rem;
  --button-bg: oklch(0.2046 0 0);
  --button-text: oklch(0.68 0.14 183);

  --button-bg-hover: oklch(0.38 0.04 250);
  --button-text-hover: oklch(0.82 0.12 183);

  --button-bg-active: oklch(0.15 0.03 260);
  --button-text-active: oklch(0.9 0.1 183);

  --button-bg-disabled: oklch(0.14 0.01 260);
  --button-text-disabled: oklch(0.5 0.02 183);
}

.light {
  --background: oklch(0.98 0.005 255);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.68 0.14 183);
  --primary-light: oklch(0.82 0.1 180);
  --text-main: oklch(0.22 0.03 260);
  --text-secondary: oklch(0.42 0.03 260);
  --radius: 0.625rem;
  --button-bg: oklch(0.95 0.01 250);
  --button-text: oklch(0.55 0.14 183);

  --button-bg-hover: oklch(0.9 0.02 250);
  --button-text-hover: oklch(0.45 0.16 183);

  --button-bg-active: oklch(0.85 0.03 250);
  --button-text-active: oklch(0.38 0.18 183);

  --button-bg-disabled: oklch(0.96 0.005 250);
  --button-text-disabled: oklch(0.72 0.04 183);
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground;
  }
}
